.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
    img{
      height:80%;
      opacity: 0.6;
    }
    background: #000;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 4.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    //text-shadow: 1px 11px 0 rgba(0,0,0,0.5);
    a{
      color:#fff;
      text-decoration: none;
    }
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}